<a href="https://colab.research.google.com/github/NQT2906/CS114.K21/blob/Sarcasm/Sarcasm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount drive**

In [25]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# **Import library**

In [1]:
import pandas as pd
import numpy as np
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# **Read and combine data**

In [2]:
dataset_1 = pd.read_json('https://raw.githubusercontent.com/NQT2906/CS114.K21/Sarcasm/Sarcasm/Sarcasm_Headlines_Dataset.json', lines = True)
dataset_2 = pd.read_json('https://raw.githubusercontent.com/NQT2906/CS114.K21/Sarcasm/Sarcasm/Sarcasm_Headlines_Dataset_v2.json', lines = True)

In [3]:
dataset_1

                                            article_link  ... is_sarcastic
0      https://www.huffingtonpost.com/entry/versace-b...  ...            0
1      https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2      https://local.theonion.com/mom-starting-to-fea...  ...            1
3      https://politics.theonion.com/boehner-just-wan...  ...            1
4      https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0
...                                                  ...  ...          ...
26704  https://www.huffingtonpost.com/entry/american-...  ...            0
26705  https://www.huffingtonpost.com/entry/americas-...  ...            0
26706  https://www.huffingtonpost.com/entry/reparatio...  ...            0
26707  https://www.huffingtonpost.com/entry/israeli-b...  ...            0
26708  https://www.huffingtonpost.com/entry/gourmet-g...  ...            0

[26709 rows x 3 columns]

In [4]:
is_sar = dataset_2.iloc[:, 0]
art = dataset_2.iloc[:, 2]

dataset_2.iloc[:, 0] = art
dataset_2.iloc[:, 2] = is_sar

dataset_2.columns = ['article_link', 'headline', 'is_sarcastic']

In [5]:
dataset_2

                                            article_link  ... is_sarcastic
0      https://www.theonion.com/thirtysomething-scien...  ...            1
1      https://www.huffingtonpost.com/entry/donna-edw...  ...            0
2      https://www.huffingtonpost.com/entry/eat-your-...  ...            0
3      https://local.theonion.com/inclement-weather-p...  ...            1
4      https://www.theonion.com/mother-comes-pretty-c...  ...            1
...                                                  ...  ...          ...
28614  https://www.theonion.com/jews-to-celebrate-ros...  ...            1
28615  https://local.theonion.com/internal-affairs-in...  ...            1
28616  https://www.huffingtonpost.com/entry/andrew-ah...  ...            0
28617  https://www.theonion.com/mars-probe-destroyed-...  ...            1
28618  https://www.theonion.com/dad-clarifies-this-no...  ...            1

[28619 rows x 3 columns]

In [6]:
dataset = pd.concat([dataset_1, dataset_2])

In [7]:
dataset

                                            article_link  ... is_sarcastic
0      https://www.huffingtonpost.com/entry/versace-b...  ...            0
1      https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2      https://local.theonion.com/mom-starting-to-fea...  ...            1
3      https://politics.theonion.com/boehner-just-wan...  ...            1
4      https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0
...                                                  ...  ...          ...
28614  https://www.theonion.com/jews-to-celebrate-ros...  ...            1
28615  https://local.theonion.com/internal-affairs-in...  ...            1
28616  https://www.huffingtonpost.com/entry/andrew-ah...  ...            0
28617  https://www.theonion.com/mars-probe-destroyed-...  ...            1
28618  https://www.theonion.com/dad-clarifies-this-no...  ...            1

[55328 rows x 3 columns]

In [8]:
dataset = dataset.drop_duplicates()

In [9]:
dataset

                                            article_link  ... is_sarcastic
0      https://www.huffingtonpost.com/entry/versace-b...  ...            0
1      https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2      https://local.theonion.com/mom-starting-to-fea...  ...            1
3      https://politics.theonion.com/boehner-just-wan...  ...            1
4      https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0
...                                                  ...  ...          ...
28497  https://www.theonion.com/tyson-holds-contest-t...  ...            1
28509  https://politics.theonion.com/increasingly-coc...  ...            1
28520  https://www.theonion.com/cash-strapped-zuckerb...  ...            1
28544  https://local.theonion.com/grocery-store-bar-a...  ...            1
28589  https://www.theonion.com/study-83-of-marathon-...  ...            1

[28617 rows x 3 columns]

# **Split data to train and test (0.8 train and 0.2 test)**

In [10]:
X = dataset.iloc[:, 1].values
Y = dataset.iloc[:, 2].values

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.8, random_state = 0)

# **Preprocessing**

In [12]:
corpus_train = []
for review in X_train: # Duyệt qua từng phần tử trong X_train.values
  review = re.sub('[^a-zA-Z]', ' ', review) #remove word not alphabet
  review = review.split() # split string to word
  ps = PorterStemmer()
  review = [ps.stem(word) for word in review if word not in stopwords.words('english')] # Loại bỏ các từ không có ý nghĩa
                                                                                        # Chuyển các từ về dạng nguyên mẫu
  review = ' '.join(review) # Ghép các từ sau khi xử lý lại thành 1 câu
  corpus_train.append(review)

In [13]:
corpus_test = []
for review in X_test:
  review = re.sub('[^a-zA-Z]', ' ', review) #remove word not alphabet
  review = review.split() # split string to word
  ps = PorterStemmer()
  review = [ps.stem(word) for word in review if word not in stopwords.words('english')]
  review = ' '.join(review)
  corpus_test.append(review)

In [14]:
print(np.shape(corpus_train))
print(np.shape(corpus_test))

(22893,)
(5724,)

# **Create dictionary for word in train and test**

In [15]:
cv = CountVectorizer()
X_train = cv.fit_transform(X_train).toarray()
trainVocab = cv.vocabulary_ #export tập từ vựng

In [16]:
cv = CountVectorizer(vocabulary=trainVocab)
X_test = cv.fit_transform(X_test).toarray()

In [17]:
print(X_test.shape)
print(Y_test.shape)

(5724, 23862)
(5724,)

# **Choose model**

In [18]:
model = MultinomialNB()
model.fit(X_train, Y_train)

Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

In [19]:
print("Score of model (MultinomialNB) in train set:", model.score(X_train, Y_train))
print("Score of model (MultinomialNB) in test set:", model.score(X_test, Y_test))

print("Accuracy score of model (MultinomialNB) in train set:",accuracy_score(Y_train, Y_train_pred))
print("Accuracy score of model (MultinomialNB) in test set:", accuracy_score(Y_test, Y_test_pred))

Score of model (MultinomialNB) in train set: 0.9319879439129864
Score of model (MultinomialNB) in test set: 0.8509783368273934
Accuracy score of model (MultinomialNB) in train set: 0.9319879439129864
Accuracy score of model (MultinomialNB) in test set: 0.8509783368273934

In [20]:
from sklearn.linear_model import LogisticRegression
model_log = LogisticRegression(random_state = 0)
model_log.fit(X_train, Y_train)

Y_train_pred = model_log.predict(X_train)
Y_test_pred = model_log.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [21]:
print("Score of model (LogisticRegression) in train set:", model_log.score(X_train, Y_train))
print("Score of model (LogisticRegression) in test set:", model_log.score(X_test, Y_test))


print("Accuracy score of model (LogisticRegression) in train set:", accuracy_score(Y_train, Y_train_pred))
print("Accuracy score of model (LogisticRegression) in test set:", accuracy_score(Y_test, Y_test_pred))

Score of model (LogisticRegression) in train set: 0.9596819988642816
Score of model (LogisticRegression) in test set: 0.8422431865828093
Accuracy score of model (LogisticRegression) in train set: 0.9596819988642816
Accuracy score of model (LogisticRegression) in test set: 0.8422431865828093

# **Save model**

In [22]:
import pickle

In [23]:
filename = 'MultinomialNB_Sarcasm.sav'
pickle.dump(model, open(filename, 'wb'))

In [24]:
filename = 'Logistic_Regression_Sarcasm.sav'
pickle.dump(model_log, open(filename, 'wb'))